env/
playground.ipynb
__pycache__/
chats.json
access_token
.DS_Store
.vscode 
palm_api_key
palm_api_key2
openai_key
openai_key_new
replicate_api_key
replicate_api_key_new
outputs_old/
dataset/NHTS_2017_csv/hhpub.csv
dataset/NHTS_2017_csv/perpub.csv
dataset/NHTS_2017_csv/trippub.csv
dataset/NHTS_2017_csv/vehpub.csv
openai_key_azure
